* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Satisfy', cursive;
    background-color: #12181B;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
}

.turn {
    color: white;
    font-size: 25px;
    text-align: center;    
}

.player-x {
    color: #09C372;
}

.player-o {
    color: #498AFB;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.box {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}